<div class="flex justify-between p-16 flex-wrap gap-2">
    <div>
       <h1 class="lg:text-6xl max-w-lg h-15 pl-9 md:text-4xl"><B>It's All</B></h1>
 
       <h1 class="lg:text-6xl max-w-lg pl-8 md:text-4xl md:max-w-md md:pl-7"><B>About <span
                class="text-[#548E08]">CSPL</span></B></h1>
    </div>
    <div class="lg:w-[50%] md:w-[100%]">
       <p class="lg:text-sm lg:font-normal md:text-xs md:pl-7">
          Progressive, professional and well-structured, CSPL is a Company established by the aspiring youths of India
          who
          are highly devoted and passionate about Digital India and Make in India campaign. We have come up with a
          digital
          solution for organizations to bring a transformation in managing their operations. We, at CSPL, are committed
          to
          ensuring that our services are provided objectively, maintaining the highest ethical and professional standards
          with paramount emphasis on the interest of the clients and the quality of professional work.</p>
    </div>
 </div>
 
