<footer class="flex justify-between py-10 pl-12 pr-12  items-center mt-5">
    <div class="flex items-center gap-10">
        <div>
            <img src="./assets/image/Logo.png" alt="" class="w-30 h-11">
            <p class="text-xs"><b>Corpem Solutions</b></p>
            <p class="text-xs text-[#548E08] pl-3">Private limited</p>
        </div>
        <a class="m-4 text-sm">Privacy Policy</a>
        <a class="m-4 text-sm" href="">Teams Of Use</a>
        <a class="m-4 text-sm" href="">Contact Us</a>
        <a class="m-4 text-sm" href="">Help</a>

    </div>
    <div class="flex items-start gap-5 ">
        <img src="./assets/image/Youtube.jpg" alt="" class="w-6 h-6">
        <img src="./assets/image/Facebook.jpg" alt="" class="w-6 h-6">
        <img src="./assets/image/Twitter.jpg" alt="" class="w-6 h-6 ">
        <img src="./assets/image/Linkdin.jpg" alt="" class="w-6 h-6">

    </div>
</footer>