<div class="pt-14 pl-5 pr-5 bg-[#E6E7E7] w-full privacy-policy-container relative overflow-hidden z-1">

    <img src="./assets/image/Right.png" alt="" class="absolute right-0 top-0 ">
    <img src="./assets/image/Vector.png" alt="" class="absolute left-0 top-2 opacity-10">
    <img src="./assets/image/Vector2.png" alt="" class="absolute opacity-10 left-44 top-3 ">
    <img src="./assets/image/Vector2.png" alt="" class="absolute  opacity-10 left-56 - top-3">
    <div
        class="lg:p-4 md:p-5 md:ml-9 md:mr-9 bg-[#548E08] flex flex-col justify-center items-center border-[#FFFFFF] border-[15px] z-10 relative">

        <p class="text-[white]   md:text-3xl lg:text-5xl">Privacy Policy</p>
        <p class="text-[white] md:text-md lg:text-lg pt-2"> Last Modified on 23 June, 2023</p>
    </div>
</div>x`    
<div class="md:pl-16 md:pr-16">
    <div>

        <h1 class="text-[#141414] font-semibold text-lg">Lorem Ipsum</h1>
        <p class="font-light text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div>
        <h1 class="text-[#141414] font-semibold text-lg">Lorem Ipsum</h1>
        <p class="font-light text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div>
        <h1 class="text-[#141414] font-semibold text-lg">Lorem Ipsum</h1>
        <p class="font-light text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div>
        <h1 class="text-[#141414] font-semibold text-lg">Lorem Ipsum</h1>
        <p class="font-light text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>


</div>