<div class="w-[80%] mx-auto mt-10 p-4 shadow">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex justify-between">
          I Lorem Ipsum is simply dummy text of the printing and typesetting industry?
          <img src="./assets/image/plus.png" alt="">
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. Though
        not required by the orthographic conventions of any language with a writing system, paragraphs are a
        conventional means of organizing extended segments of prose. </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex justify-between">
          I Lorem Ipsum is simply dummy text of the printing and typesetting industry?
          <img src="./assets/image/plus.png" alt="">
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. Though
        not required by the orthographic conventions of any language with a writing system, paragraphs are a
        conventional means of organizing extended segments of prose.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex justify-between">
          I Lorem Ipsum is simply dummy text of the printing and typesetting industry?
          <img src="./assets/image/plus.png" alt="">
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. Though
        not required by the orthographic conventions of any language with a writing system, paragraphs are a
        conventional means of organizing extended segments of prose. </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex justify-between">
          I Lorem Ipsum is simply dummy text of the printing and typesetting industry?
          <img src="./assets/image/plus.png" alt="">
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. Though
        not required by the orthographic conventions of any language with a writing system, paragraphs are a
        conventional means of organizing extended segments of prose. </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex justify-between">
          I Lorem Ipsum is simply dummy text of the printing and typesetting industry?
          <img src="./assets/image/plus.png" alt="">
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. Though
        not required by the orthographic conventions of any language with a writing system, paragraphs are a
        conventional means of organizing extended segments of prose. </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="flex justify-between">
          I Lorem Ipsum is simply dummy text of the printing and typesetting industry?
          <img src="./assets/image/plus.png" alt="">
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>A paragraph is a self-contained unit of discourse in writing dealing with a particular point or idea. Though
        not required by the orthographic conventions of any language with a writing system, paragraphs are a
        conventional means of organizing extended segments of prose. </p>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="mt-10">
    <mat-tab-group>
      <mat-tab label="Content">A paragraph is a self-contained unit of discourse in writing dealing with a particular
        point or idea. Though not required by the orthographic conventions of any language with a writing system,
        paragraphs are a conventional means of organizing extended segments of prose. </mat-tab>
      <mat-tab label="Menu">A paragraph is a self-contained unit of discourse in writing dealing with a particular
        point or idea. Though not required by the orthographic conventions of any language with a writing system,
        paragraphs are a conventional means of organizing extended segments of prose. </mat-tab>
      <mat-tab label="About">A paragraph is a self-contained unit of discourse in writing dealing with a particular
        point or idea. Though not required by the orthographic conventions of any language with a writing system,
        paragraphs are a conventional means of organizing extended segments of prose. </mat-tab>
    </mat-tab-group>
  </div>

  <div class="mt-8">
    <mat-stepper #stepper labelPosition="bottom">

      <mat-step>
        <ng-template matStepLabel>Set New Password</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel> Select Brands to Sell</ng-template>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel> Shop Image & Hours</ng-template>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel> Onboarding Dashboard</ng-template>

      </mat-step>
    </mat-stepper>
  </div>
  <div class="flex justify-center pt-4 flex-col items-center">
  <div class="flex mt-3">
  <p>Sunday</p>
  <p class="pl-16">Closed</p>
  <mat-slide-toggle class="pl-8">Open</mat-slide-toggle>
</div>
<div class="flex mt-3">
  <p>Monday</p>
  <p class="pl-16">Closed</p>
  <mat-slide-toggle class="pl-8">Open</mat-slide-toggle>
</div>
<div class="flex mt-3">
  <p>Tuesday</p>
  <p class="pl-16">Closed</p>
  <mat-slide-toggle class="pl-8">Open</mat-slide-toggle>
</div>
<div class="flex mt-3">
  <p>Wednesday</p>
  <p class="pl-10">Closed</p>
  <mat-slide-toggle class="pl-8">Open</mat-slide-toggle>
</div>
<div class="flex mt-3">
  <p>Thursday</p>
  <p class="pl-14">Closed</p>
  <mat-slide-toggle class="pl-8">Open</mat-slide-toggle>
</div>
<div class="flex mt-3">
  <p>Friday</p>
  <p class="pl-20">Closed</p>
  <mat-slide-toggle class="pl-8">Open</mat-slide-toggle>
</div> 
<div class="flex mt-3">
  <p>Saturday</p>
  <p class="pl-16">Closed</p>
  <mat-slide-toggle class="pl-8">Open</mat-slide-toggle>
</div>  
</div>