<div class=" pl-5 pr-5 pb-5">

   <p class="font-bold text-3xl flex justify-center items-center pl-14 pt-7">Our Team</p>

   <p class="text-base pt-3 flex justify-center items-center pl-14">Get in touch with us to know more about</p>

   <div class="flex justify-between pt-10 pl-5 pr-5 pb-5 gap-6 flex-wrap">
      <div class="flex gap-3 w-[calc(50%-12px)] lg:w-[calc(33%-16px)]">
         <div class="w-[51px] h-[54px] bg-[#D9D9D9] shrink-0"></div>
         <div>
            <p class="font-bold">Address</p>
            <p>12/19, Site-IV, Sahibabad Industrial AreaS ahibabad, District Ghaziabad-201010,Uttar Pradesh, India</p>
         </div>
      </div>
      <div class="flex gap-3 w-[calc(50%-12px)] lg:w-[calc(33%-16px)]">
         <div class="w-[51px] h-[54px] bg-[#D9D9D9] shrink-0"></div>
         <div>
            <p class="font-bold">Address</p>
            <p>12/19, Site-IV, Sahibabad Industrial AreaS ahibabad, District Ghaziabad-201010,Uttar Pradesh, India</p>
         </div>
      </div>
      <div class="flex gap-3 w-[calc(50%-12px)] lg:w-[calc(33%-16px)]">
         <div class="w-[51px] h-[54px] bg-[#D9D9D9] shrink-0"></div>
         <div>
            <p class="font-bold">Address</p>
            <p>12/19, Site-IV, Sahibabad Industrial AreaS ahibabad, District Ghaziabad-201010,Uttar Pradesh, India</p>
         </div>
      </div>

   </div>
   </div>