<div class="flex relative">
    <img src="./assets/image/Vector.jpg" alt="" class="absolute top-0 left-0 w-40 opacity-10">
    <img src="./assets/image/Hexa.jpg" alt="" class="absolute top-3 left-3 w-56 opacity-10">
    <img src="./assets/image/Vector2.png" alt="" class="absolute top-8 left-36 w-16 opacity-10">
    <img src="./assets/image/Vector2.png" alt="" class="absolute top-8 left-56 w-16 opacity-10">

</div>
<div class="flex justify-center items-center p-11 bg-[#F5F5F5]">
    <div class="flex flex-col justify-center items-center border-[2px] w-[50%] p-16 shadow-md rounded bg-white">
        <div class="flex w-[100%] border-b-[1px]">
            <img src="./assets/image/image.png" alt="">
            <div class="flex flex-col">
                <p class="text-[#141414]">Seller</p>


                <p class="text-[#141414]">Central</p>
            </div>
        </div>
        <div class="w-[100%] mt-6">
            <p class="font-bold text-[28px]">Welcome to CSPL!</p>
            <p class="font-medium text-sm text-[#212B36]  flex mt-2">Please Set your New Password</p>
        </div>

        <div class="font-medium text-base m-6 w-[100%]">
            <span class="text-[#1C2434]">New Password</span> <span class="text-[#E2341D]">*</span>
        </div>


        <div class="flex w-[100%]  border rounded-sm p-3 gap-2">
            <img src="./assets/image/lock.png" alt="">
            <input type="text" placeholder="Enter your password" class="flex-grow">

            <img src="./assets/image/eye.png" alt="">

        </div>
        <div class="font-medium text-base m-6 w-[100%]">
            <span class="text-[#1C2434]">Confirm Password</span> <span class="text-[#E2341D]">*</span>
        </div>


        <div class="flex w-[100%] border rounded-sm p-3 gap-2">
            <img src="./assets/image/lock.png" alt="">
            <input type="text" placeholder="Enter your password" class="flex-grow">

            <img src="./assets/image/eye.png" alt="">

        </div>
        <button
            class="w-[100%] bg-[#548E08] text-[white] font-normal text-xl rounded-md mt-8 pt-2 pb-2 pl-7 pr-7 flex justify-center items-center">Set
            Password<img src="./assets/image/arrow-right.png" alt="" class="pl-2 pt-1"></button>

        <div class="text-[rgba(28, 36, 52, 1)] font-semibold mt-9">c 2023 CSPL. All Right Reserved</div>
    </div>
</div>
<div class="flex">
    <img src="./assets/image/side.png" alt="" class="absolute w-28 opacity-30 right-24 bottom-11">
    <img src="./assets/image/sideimage.png" alt="" class="absolute w-44 opacity-30 right-0 bottom-0">
</div>