<!-- <form [formGroup]="heroForm" novalidate>
    <div class="flex justify-center mt-4 w-[70%]">
        <div class="flex flex-row gap-20">
            <div class="form-group flex flex-col">
                <div> <label class="center-block">Product Name * </label></div>
                <div class="mt-4"> <input class="form-control" formControlName="name" placeholder="Enter your name"></div>

            </div>
            <div class="form-group flex flex-col">
                <div> <label class="center-block">Quantity *</label></div>
                <div class="mt-4"> <input class="form-control" formControlName="name" placeholder="Enter your name"></div>

            </div>
            <div class="form-group flex flex-col">
                <div> <label class="center-block">Taxable Amount *</label></div>
                <div class="mt-4"> <input class="form-control" formControlName="name" placeholder="Enter your name"></div>

            </div>
            <div class="form-group flex flex-col">
                <div> <label class="center-block">Tax Rate *</label></div>
                <div class="mt-4"> <input class="form-control" formControlName="name" placeholder="Enter your name"></div>
            </div>
    
        </div>
    </div>
></form> -->
